<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <ul class="navbar-nav">
        <li><a class="nav-link" href="{{ url("app_home") }}">Home</a></li>
        <li><a class="nav-link" href="{{ url("app_twentyone") }}">TwentyOne</a></li>
        <li><a class="nav-link" href="{{ url("app_yatzy") }}">Yatzy</a></li>
        <li><a class="nav-link" href="{{ url("app_session") }}">Session</a></li>
    </ul>
</nav>